.column-1 {
  width: 33%;
  float: left;
  background-color: #0062f5;
}

.column-2 {
  width: 33%;
  float: left;
  background-color: #10c200
}

.column-3 {
  width: 33%;
  float: left;
  background-color: red
}

img{
  width: 100%;
}

h1{
  text-align: center;
}
